        /**** TITULO*****/
        
        @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Signika:700,300,600');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        
        body {
            height: 50%;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            min-height: 30vh;
            background-image: url('fondo.png');
            background-repeat: repeat;
            background-size: cover;
            overflow-x: hidden
        }
        
        h1 {
            font-family: monospace;
            font-size: 2.3em;
            text-align: center;
            font: bold 16vw/1.3 'Signika', sans-serif;
            user-select: none;
            font-family: "Poppins", sans-serif;
            font-size: 50px;
            letter-spacing: 0.05em;
            background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, rgb(0, 255, 0) 14.28%, rgb(0, 255, 255) 21.4%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
            background-size: 600vw 600vw;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            animation: slide 30s linear infinite forwards;
        }
        .titulo {
            height: 257px;
            width: 100%;
            opacity: 100%;
            font-size: 175%;
            color: transparent;
            position: relative;
            transform: translate(-50%, -20%);
            
        }

        @keyframes slide {
            0% {
                background-position-x: 0%;
            }
            100% {
                background-position-x: 600vw;
            }
        }
        

        
        .title {
            text-align: center;
            margin-top: 60px;
        }
        
        .container-box {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .box {
            width: 250px;
            height: 250px;
            margin: 10px;
            padding: 20px;
            border: 2px solid #eeeeee;
            border-radius: 14px;
            text-align: center;
            margin-top: 100px;
            position: relative;
        }
        
        .box img {
            width: 60%;
            transition: all 400ms;
        }
        
        .box h2 {
            font-size: 16px;
            margin-top: 10px;
            transition: all 500ms;
        }
        
        .box .container-p {
            width: 100%;
            height: 150px;
            position: absolute;
            left: 0;
            bottom: 0;
            overflow: hidden;
            padding: 0px 10px;
            border-radius: 0px 0px 14px 14px;
        }
        
        .box p {
            font-size: 14px;
            color: #7a7a7a;
            opacity: 0;
            transform: translateY(150px);
            transition: all 600ms;
        }
        
        .box .check {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translate(-50%);
            border: 2px solid #f5f5f5;
            border-radius: 100%;
            width: 30px;
            height: 30px;
            background: white;
        }
        
        .box .check i {
            margin-top: 6px;
            display: none;
            color: white
        }
        /*Efecto Hover*/
        
        .box:hover {
            background: #fbfbfe;
        }
        
        .box:hover img {
            transform: translateY(-90px);
        }
        
        .box:hover h2 {
            transform: translateY(-90px);
        }
        
        .box:hover .container-p p {
            transform: translateY(0px);
            opacity: 1;
        }
        /*Clases que estaremos utilizando en JavaScript*/
        
        .box-selected {
            border-color: red;
            transition: all 600ms;
        }
        
        .icon-check {
            display: block !important;
        }
        
        .check-selected {
            background: red !important;
            border: none;
            transition: all 600ms;
        }
        /*botones*/
        
        .nuevo-juego {
            /*cursor: pointer;
            background: linear-gradient(#F6A9A9, #F6A9A9);
            padding: 20px;
            border-radius: 50px;
            border: white 5px solid;
            font-size: 120%;
            justify-content: center;
            position: relative;*/
            cursor: pointer;
            background: linear-gradient(#F6A9A9, #F6A9A9);
            padding: 20px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 120%;
            margin: 4px 2px;
            border-radius: 50px;
            position: relative;
            left: 40%;
            color: rgb(255, 255, 255);
            border: rgb(15, 224, 231) 5px solid;
        }
        
        #altavoz {
            margin-top: 1%;
            position: relative;
            left: 2%;
            width: 4%;
        }